"""Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple"""

In [15]:
name="iqra"
type(name)

str

In [16]:
c=[1,2,3,4]
type(c)

list

In [20]:
d=3.4
type(d)

float

In [21]:
e=()
type(e)

tuple

"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable."""

In [30]:
var1=''
type(var1)

str

In [29]:
var2='[DS,ML,Python]'
type(var2)

str

In [26]:
var3=['DS','ML','Python']
type(var3)

list

In [ ]:
var4=1
type(var4)

Q3. Explain the use of the following operators using an example:
(i) / = division operator ,used to divide the two numbers.It return decimal number
(ii) %= modulo oprator used to find the  remainder
(iii) //- used to return the quotient
(iv)**- exponential operator

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
 c=['iqra',1,2.3,23/3,'a',0.003,True,4.3333,6,'era']

In [15]:
for i in c:
    print (i,type(i))

iqra <class 'str'>
1 <class 'int'>
2.3 <class 'float'>
7.666666666666667 <class 'float'>
a <class 'str'>
0.003 <class 'float'>
True <class 'bool'>
4.3333 <class 'float'>
6 <class 'int'>
era <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A=50
B=10
count=0
while A%B ==0:
    A=A//B
     count +=1
if count > 0:
    
       print(f"{A} is divisible by {B} and it can be divided {count} times.")
else :
        print(f"{A} is not divisible by {B}")

In [ ]:
ques -6

In [ ]:
my_list = [4, 15, 9, 8, 21, 12, 17, 6, 19, 10, 27, 33, 2, 14, 30, 18, 1, 25, 7, 11, 20, 22, 13, 3, 16]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

Mutable and immutable are two important concepts in programming that describe the behavior of data types when it comes to modifying their values.

Immutable data types are those whose values cannot be changed after they are created. In other words, if you try to modify an immutable object, a new object will be created with the updated value, while the original object remains unchanged. Examples of immutable data types in Python include integers, floats, strings, tuples, and frozensets.Here's an example demonstrating the immutability of integers:

In [ ]:
a = 5
print(a)  # Output: 5

a += 1
print(a)  # Output: 6

In the above example, the variable a is an integer. When we increment a by 1 with a += 1, a new integer object with the value 6 is created. The original integer object with the value 5 remains unchanged. This showcases the immutability of integers.

On the other hand, mutable data types are those whose values can be modified after they are created. This means that you can directly modify the object in-place without creating a new object. Examples of mutable data types in Python include lists, dictionaries, and sets.

Here's an example demonstrating the mutability of lists:

In [ ]:
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

In the above example, my_list is a list. When we use the append() method to add the value 4 to the list, the original list object is modified in-place, and the value 4 is added at the end. This showcases the mutability of lists.

In summary, mutable data types allow modification of their values directly, while immutable data types create new objects with updated values when modified.